* {
  text-align: center;
  font-family: "Vollkorn", serif;
}

.title {
  color: #17989b;
  font-weight: bold;
  border: 2px inset;
  background: #fafafa;
  margin: 35px 20px 0px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.imglogo {
  width: 200px;
  height: auto;
  margin: 10px 0px 5px 0px;
}

.h2 {
  margin: 0px 0px 25px 0px;
  font-size: 1.3em;
}

hr {
  margin: 25px 15px 20px 15px;
  height: 2px;
}

.btnAdd {
  color: #17989b;
  background-color: #fafafa;
  border-color: black;
  font-size: 1.2em;
  font-weight: bold;
  width: auto;
  height: auto;
}
.btnAdd:hover {
  box-shadow: 0 0 0.5em rgba(23, 152, 155, 0.7);
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .btnAdd {
    font-size: 1.7em;
  }
}

.formBlock {
  text-align: left;
  border: 2px inset;
  background-color: #fafafa;
  margin-bottom: 20px;
}
.formBlock .label {
  margin-left: 10px;
  font-size: 1.2em;
}
.formBlock .field {
  width: 95%;
  height: 30px;
  margin: 0.7em;
  text-align: left;
}
.formBlock .field:focus {
  background-color: #e6efef;
}

.btnForm {
  color: #17989b;
  background-color: white;
  font-size: 1em;
  width: 200px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.btnForm:hover {
  box-shadow: 0 0 0.5em rgba(23, 152, 155, 0.7);
  transform: scale(1.05);
}

#content h2 {
  margin-top: 25px;
  font-size: 1.3em;
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.card {
  background-color: #fafafa;
}

.container-card {
  margin: 10px;
  width: 90%;
  justify-content: space-evenly;
}
.container-card:hover {
  box-shadow: 0 0 0.5em rgba(23, 152, 155, 0.7);
  transform: scale(1.05);
}
.container-card .card-body {
  margin: 10px;
  width: 90%;
  text-align: center;
}
.container-card .card-title {
  min-height: 0px;
  width: 90%;
  font-size: 1.2em;
  font-style: bold;
  text-align: left;
  margin-top: 7px;
  margin-bottom: 15px;
}
.container-card .card-author {
  font-size: 1em;
  font-style: bold;
  text-align: justify;
  margin-bottom: 15px;
}
.container-card .card-id {
  font-style: italic;
  text-align: justify;
  margin-bottom: 20px;
}
.container-card .card p {
  font-size: 0.9em;
  text-align: justify;
  margin-bottom: 15px;
}
.container-card .card img {
  width: 140px;
  height: 180px;
}
.container-card .icon {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fafafa;
  color: #17989b;
}
.container-card .icon:hover {
  transform: scale(1.5);
}
.container-card .icon .fas {
  font-size: 32px;
  color: #17989b;
}

@media screen and (min-width: 665px) and (max-width: 1024px) {
  .container-card {
    width: 45%;
  }
  .container-card .card-title {
    width: 90%;
  }
  .container-card .card img {
    width: 120px;
    height: 160px;
    margin-bottom: auto;
  }
  .container-card .icon {
    position: absolute;
    right: 7px;
    top: 9px;
  }
  .container-card .fas {
    font-size: 15px;
    color: #17989b;
  }
}
@media screen and (min-width: 1024px) {
  .container-card {
    margin: 10px;
    width: 30%;
  }

  .card-title {
    min-height: 1em;
    font-size: 16px;
  }

  .title {
    font-size: 2rem;
  }

  .formBlock {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
  }

  .title {
    font-size: 3em;
  }

  .h2 {
    font-size: 2em;
  }

  #content h2 {
    margin-top: 25px;
    font-size: 2em;
  }
}

/*# sourceMappingURL=styles.css.map */
