* {
  text-align: center;
  font-family: "Vollkorn", serif;
  font-size: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    font-size: 17px;
  }
}
@media screen and (min-width: 1024px) {
  * {
    font-size: 18px;
  }
}

.title {
  color: #17989b;
  border: 2px inset;
  background: #fafafa;
  margin: 35px 20px 0px 20px;
  padding: 10px 0px 10px 0px;
  align-items: center;
  font-size: 34px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    font-size: 38px;
  }
}

.imglogo {
  width: 200px;
  height: auto;
  margin: 10px 0px 5px 0px;
}

.h2 {
  margin: 0px 0px 25px 0px;
  font-size: 22px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .h2 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .h2 {
    font-size: 26px;
  }
}

.btnAdd {
  color: #17989b;
  background-color: #fafafa;
  border-color: black;
  font-size: 22px;
  width: auto;
  height: auto;
}
.btnAdd:hover {
  box-shadow: 0 0 0.5em rgba(23, 152, 155, 0.7);
  transform: scale(1.05);
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .btnAdd {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .btnAdd {
    font-size: 26px;
  }
}

hr {
  margin: 25px 15px 20px 15px;
}

#content h2 {
  margin-top: 25px;
  font-size: 22px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #content h2 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  #content h2 {
    font-size: 26px;
  }
}

.h4 {
  margin-top: 15px;
}

.formBlock {
  text-align: left;
  border: 2px inset;
  background-color: #fafafa;
  margin-bottom: 20px;
}
.formBlock .label {
  margin-left: 10px;
  font-size: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .formBlock .label {
    font-size: 17px;
  }
}
@media screen and (min-width: 1024px) {
  .formBlock .label {
    font-size: 18px;
  }
}
.formBlock .field {
  width: 95%;
  height: 30px;
  margin: 0.7em;
  text-align: left;
  font-size: 16px;
}
.formBlock .field:focus {
  background-color: #e6efef;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .formBlock .field {
    font-size: 17px;
  }
}
@media screen and (min-width: 1024px) {
  .formBlock .field {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .formBlock {
    width: 55%;
    margin: auto;
  }
}

.btnForm {
  color: #17989b;
  background-color: white;
  font-size: 16px;
  width: 200px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.btnForm:hover {
  box-shadow: 0 0 0.5em rgba(23, 152, 155, 0.7);
  transform: scale(1.05);
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .btnForm {
    font-size: 17px;
  }
}
@media screen and (min-width: 1024px) {
  .btnForm {
    font-size: 18px;
  }
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #fafafa;
  text-align: justify;
}

.container-card {
  margin: 10px;
  width: 90%;
  height: auto;
}
.container-card:hover {
  box-shadow: 0 0 0.5em rgba(23, 152, 155, 0.7);
  transform: scale(1.05);
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-card {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .container-card {
    width: 30%;
  }
}
.container-card .card-body {
  min-height: 450px;
  text-align: left;
}
.container-card .first {
  height: 22%;
}
.container-card .second {
  margin-top: 5px;
  height: 35%;
}
.container-card .third {
  margin-top: 7px;
  height: 35%;
}
@media screen and (min-width: 1024px) {
  .container-card .third {
    margin-top: 20px;
  }
}
.container-card .card-title {
  width: 91%;
  font-size: 1.2em;
  font-style: bold;
}
.container-card .card-author {
  font-size: 1em;
  font-style: bold;
}
.container-card .card-id {
  font-style: italic;
}
.container-card .card img {
  width: 120px;
  height: 160px;
}
.container-card .icon {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fafafa;
  color: #17989b;
}
.container-card .icon:hover {
  transform: scale(1.5);
}
.container-card .fas {
  font-size: 32px;
  color: #17989b;
}

/*# sourceMappingURL=styles.css.map */
