@font-face {
	font-family: 'promptregular';
	src: url('fonts/Prompt-regular.ttf');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'promptregular', Arial, Verdana;
	text-align : center;
}

.title {
  color : rgb(23, 152, 155);
  font-weight: bold;
  border: 2px inset;
  background : rgb(250,250,250);
  margin : 0px 0px 0px 0px;
}

#logo {
	width: 130px;
	height: 130px;
	margin : 10px 0px 5px 0px;
}

.h2 {
	margin : 0px 0px 25px 0px;
	font-size: 1.3em;
}

hr {
	margin : 25px 0px 20px 0px;
}

#content {
	font-size: 0.9em;
}

:focus {
	background-color: rgb(230,239,239);
}

#addBook {
	color : rgb(23, 152, 155);
	background-color : rgb(250,250,250);
	border-color: black;
	font-size : 1.2em;
	font-weight: bold;
	width : 200px;
	height : 35px;
}

#searchForm {
	text-align : left;
	border: 2px inset;
	background-color : rgb(250,250,250);
}

.btnForm {
	color : rgb(23, 152, 155);
	background-color : rgb(255,255,255);
	font-size : 1em;
	width : 140px;
	height : 30px;
	margin-left: 10px;
}

.field {
	width: 98%;
	height: 25px;
	margin : 0px 10px 0px 10px;
	text-align : left;
}

.label {
	margin-left: 10px;
	font-size: 1.2em;
}

#resultsTitle {
	margin-top: 20px;
}

.container {
  display : inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
	border : 2px ridge;
	border-color : rgb(250, 250, 250);
}

.container-card {
  width: 400px;
  margin: 10px;
  border: 1px inset;
  border-color: rgb(23, 152, 155);
  background-color: rgb(250,250,250);
}

.container-card:hover {
  box-shadow: 0 0 2em rgba(23, 152, 155, 0.7);
}

.card-body{
	height: 520px;
  background-color: rgb(250,250,250);
}

.card-title {
	width : 95%;
	text-align: left;
	font-size: 1.2em;
	font-style : bold;
}

.card-author {
	text-align: left;
	font-size: 1em;
	font-style : bold;
}

.card-id {
	text-align: left;
	font-style : italic;
}

.card p {
	text-align: justify;
	font-size: 0.9em;
}

.card img {
  width: 150px;
  height: 200px;
}

.icon {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 40px;
  height: 40px;
  border : none;
  background-color: rgb(250,250,250);
  color: rgb(23, 152, 155);
}

.fas {
	font-size: 32px;
	color: rgb(23, 152, 155);
}


